<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>SixStorm Live</title>

<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

</head>

<body class="bg-gradient-to-br from-[#0f172a] via-[#020617] to-[#111827] min-h-screen flex flex-col text-white">

<nav class="bg-[#020617]/80 backdrop-blur-xl border-b border-white/10 sticky top-0 z-50 shadow-xl">
<div class="max-w-7xl mx-auto px-4 py-3 flex justify-between items-center">

<a href="/" class="text-2xl md:text-3xl font-bold">
<span class="bg-gradient-to-r from-yellow-400 via-yellow-300 to-orange-500 bg-clip-text text-transparent">Six</span>
<span class="text-white">Storm</span>
</a>

</div>
</nav>

<main class="flex-grow">

<div class="text-center mt-8 px-4">

<h1 class="text-2xl md:text-5xl font-bold">
🏏 Live Cricket Streaming
</h1>

<p class="text-gray-400 mt-2 text-sm">
Watch cricket match live in HD
</p>

</div>

<div class="max-w-7xl mx-auto px-4 py-6">

<div id="container"
class="relative w-full aspect-video bg-black rounded-xl overflow-hidden shadow-2xl border border-white/10">

<div id="loader"
class="absolute inset-0 flex items-center justify-center bg-black/70 z-10">

<div class="animate-spin rounded-full h-16 w-16 border-4 border-white border-t-transparent"></div>

</div>

<video
id="video"
class="w-full h-full object-contain"
controls
autoplay
muted
playsinline
></video>

</div>

<div class="flex flex-wrap md:flex-nowrap justify-center gap-4 mt-6 max-w-sm md:max-w-none mx-auto">

<button onclick="changeChannel(1)"
class="w-[45%] md:w-auto py-2 px-6 rounded-full bg-red-600 hover:bg-red-700 font-bold">
Server 1
</button>

<button onclick="changeChannel(3)"
class="w-[45%] md:w-auto py-2 px-6 rounded-full bg-red-600 hover:bg-red-700 font-bold">
▶️Hindi
</button>

<button onclick="changeChannel(2)"
class="w-full md:w-auto py-2 px-6 rounded-full bg-red-600 hover:bg-red-700 font-bold">
 ▶️English
</button>

</div>
</div>

</main>

<script>

var video = document.getElementById("video");
var loader = document.getElementById("loader");

var channel = 1;
var src = "/stream.m3u8?ch=1";

let hls;

function startPlayer(){

if(Hls.isSupported()){

if(hls){
hls.destroy();
}

hls = new Hls();

hls.loadSource(src);
hls.attachMedia(video);

hls.on(Hls.Events.MANIFEST_PARSED,function(){

loader.style.display="none";

video.play().catch(()=>{});

});

hls.on(Hls.Events.ERROR,function(event,data){

if(data.fatal){

setTimeout(()=>{

startPlayer();

},2000);

}

});

}

}

function changeChannel(ch){

channel = ch;

src = "/stream.m3u8?ch=" + ch;

loader.style.display="flex";

startPlayer();

}

startPlayer();

</script>

</body>
</html>